.my-class {
    color: #00008F;
    border: 2px solid #236D15;
    text-align: center;
    background-color: #89FFA7;
    border-radius: 20px;

}
#my-id {
    font-style: normal;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    text-align: justify;
    border: thick ridge #4C4DC1;
    border-radius: 10;
    background-color: #89CFEF;
    float: none;
}
#my-id2 {
    font-style: normal;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    text-align: justify;
    border: thick ridge #4C4DC1;
    border-radius: 10;
    background-color: #EBA7A9;
}
.Bodymargins {
    margin-left: 100px;
    margin-right: 100px;
}
