.my-class {
    color: blue;
    border: 2px solid #0C125B;
    text-align: center;
    background-color: grey;

}
#my-id {
    font-style: normal;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    text-align: justify;
    margin-left: 100px;
    width: 40%;
    border: thick ridge #4C4DC1;
    border-radius: 10;
    background-color: #CBCBCB;
}
#my-id2 {
    font-style: normal;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    text-align: justify;
    margin-left: 80px;
    border: thick ridge #4C4DC1;
    border-radius: 10;
    width: 40%;
    background-color: #CBCBCB;
    float: right;
    margin-right: 40px;
}